@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="color:red;">
        @ViewBag.Error
    </div>
    <form action="/Home/Login" method="post" name="fmEdit">
        <div>
            <label>用户名:</label>
            <input type="text" name="UserId" value="admin"  style="width:150px"/>
        </div>
        <div>
            <label>密码：</label>
            <input type="password" name="Password" value="123456" style="width:150px" />
        </div>
        <div>
            <button type="submit">登入</button>
        </div>
    </form>

</body>
</html>
